body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #361D2E;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contenedorHeader {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #688A08;
}

header {
  display: flex;
}

nav {
  display: flex;
  padding: 20px;

}

li {
  list-style: none;
}

a {
  color: white;
  padding: 20px;
}

a:hover {
  background-color: #F6CEEC;
  color: #688A08;
}

.contenedorImagenes {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.cajita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px 20px 20px;

  background-color: #F6CEEC;
  margin: 10px;
}

img {
  width: 150px;
  height: 150px;
}

.cerrar{
  text-align: right;
}

.contenedorBotones {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

button {
  width: 25%;
  padding: 10px;
  background-color: #688A08;
  margin: 10px;
  color: white;
}
